node_modules/

server/public

vite.config.ts.*

*.tar.gz

dist/

.env

cinematic-framework-04e9e982cba7.json

tsconfig.tsbuildinfo

latest_attempts.json

coverage/

.DS_Store

.keeper

terraform/.terraform*
terraform/terraform.tfvars
!terraform/.terraform.lock.hcl